<div class="container my-container mt-100px bg-light" >
  <div *ngIf="!wait">
    <h2 i18n="@@choosecard.title">Please, choose card</h2>
    <div class="pt-3">
        <div class="form-check" *ngFor="let card of cards">
            <input [(ngModel)]="choosed" class="form-check-input" type="radio" name="cards" id="{{card.objectId}}" value="{{card.objectId}}" checked>
            <label class="form-check-label" for="{{card.objectId}}">{{card.number}}</label>
        </div>
        <div class="form-check mb-5">
            <input [(ngModel)]="choosed" class="form-check-input" type="radio" name="cards" id="new" value="new">
            <label class="form-check-label" for="new" i18n="@@choosecard.add_new">Add new card</label>
        </div>
        <span class="btn btn-primary" (click)="next()">
          <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
          <span i18n="@@choosecard.button.next">Next</span>
        </span>
    </div>
  </div>
  <div *ngIf="wait">
    <h2 i18n="@@choosecard.wait">Please, wait</h2>
    <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
    </div>
  </div>
</div>
