<div class="container my-container mt-100px bg-light mb-4" *ngIf="form">
  <h2 i18n="@@wizard.title">Please, fill the application</h2>
  <form (ngSubmit)="save()" [formGroup]="form" class="myform">
    <ngb-accordion #acc="ngbAccordion" [closeOthers]="true" activeIds="panel-0" class="my-wizard">
        <ngb-panel *ngFor="let group of application; let i=index"   id="panel-{{i}}"  title="{{group.label}}">
          <ng-template ngbPanelContent>
            <div class="row">
              <ng-container *ngFor="let field of group.fields ">
                <div class="col-md-{{field.col_size||4}} col-sm-{{field.col_size||6}}" [hidden]="field.type=='hidden'">
                  <div class="title pt-2 pb-2" *ngIf="field.type=='title'" ><h5>{{field.label}}</h5></div>
                  <div class="form-label-group" *ngIf="form.controls[field.name] && !['file','choice','date','checkbox','title'].includes(field.type)" >
                    <input [type]="field.type||'text'" 
                            id="{{field.name}}" 
                            [ngClass]="{'form-control':true, 'capitalized':field.capitalized||false}"
                            placeholder="{{field.label}}" 
                            [formControlName]="field.name" 
                            [mask]="field.mask||null" 
                            [showMaskTyped]="field.mask_typed"
                            [dropSpecialCharacters]="field.mask_save_spec?false:true"
                            (keyup)="field.autocompleteAddress?onAddressChange($event):null"
                            autocomplete="off">  
                    <label for="{{field.name}}">{{field.label}}</label>
                  </div>
                  <div class="form-label-group input-group" *ngIf="form.controls[field.name] && field.type=='date'">
                      <input type="text" id="{{field.name}}" class="form-control" placeholder="{{field.label}}" [formControlName]="field.name"  ngbDatepicker #d="ngbDatepicker" container="body" [minDate]="{year: 1940, month:1, day: 1}" [maxDate]="{year: 2030, month:12, day: 31}" (click)="d.toggle()">  
                      <div class="input-group-append">
                        <span class="input-group-text calendar" (click)="d.toggle()"></span>
                      </div>
                      <label for="{{field.name}}">{{field.label}}</label>
                  </div>
                  <div class="pb-4 file-control" *ngIf="field.type=='file'" (drop)="onFileDropped($event,field)" (dragover)="onDragOver($event)" (dragenter)="onDragEnter($event)" (dragleave)="onDragLeave($event)">
                    <label class="file-label">{{field.label}}</label>
                    <img class="preview" [src]="field.value.url">
                    <div class="custom-file">
                      <input type="file" class="custom-file-input" [id]="field.name"  (change)="onFileChange($event,field)">
                      <label class="custom-file-label" [for]="field.name">{{field.value.name}}</label>
                    </div>
                    <div *ngIf="field.value.loading" class="file-control-overlay">
                      <div class="spinner-border loading-indicator">
                        <span class="sr-only">Loading...</span>
                      </div>
                    </div>
                  </div>
                  <div class="form-select-group" *ngIf="form.controls[field.name] && field.type=='choice'">
                    <label for="{{field.name}}">{{field.label}}</label>
                    <select id="{{field.name}}" class="form-control" [formControlName]="field.name" >
                      <option disabled class="hidden-option" value="" i18n="@@wizard.option.please_choose_value">Please, choose</option>
                      <option *ngFor="let choice of field.choices |keyvalue" value="{{choice.key}}">{{choice.value}}</option>
                    </select>
                  </div>
                  <div class="form-label-group" *ngIf="!form.controls[field.name]  && !['file','choice','date','checkbox','title'].includes(field.type)" >
                    <input [type]="field.type||'text'" id="{{field.name}}" class="form-control" placeholder="{{field.label}}" [mask]="field.mask" [showMaskTyped]="true"  >
                    <label for="{{field.name}}">{{field.label}}</label>
                  </div>
                  <div class="form-label-group input-group" *ngIf="!form.controls[field.name] && field.type=='date'">
                    <input type="text" id="{{field.name}}" class="form-control" placeholder="{{field.label}}"  ngbDatepicker #d="ngbDatepicker" container="body">  
                    <div class="input-group-append">
                      <button class="btn btn-outline-secondary calendar" (click)="d.toggle()" type="button"></button>
                    </div>
                    <label for="{{field.name}}">{{field.label}}</label>
                  </div>
                  <div class="pb-2" *ngIf="!form.controls[field.name] && field.type=='checkbox'">
                    <input type="checkbox" id="{{field.name}}" (change)="checkbox_change($event)">  
                    <label for="{{field.name}}">{{field.label}}</label>
                  </div>
                  <div class="form-select-group" *ngIf="!form.controls[field.name] && field.type=='choice'">
                    <label for="{{field.name}}">{{field.label}}</label>
                    <select id="{{field.name}}" class="form-control" >
                      <option *ngFor="let choice of field.choices |keyvalue" value="{{choice.key}}">{{choice.value}}</option>
                    </select>
                  </div>
                  <ul class="prompt-value" (click)="onAddressChoose($event,field.name)"></ul>
                </div>
              </ng-container>
            </div>
            <span class="btn btn-primary" *ngIf="i<(application.length-1)" ngbpaneltoggle (click)="acc.toggle('panel-'+(i+1))"  i18n="@@wizard.buttons.next">Next</span>
            <button class="btn btn-primary" *ngIf="i==(application.length-1)" type="submit" i18n="@@wizard.buttons.finish" [disabled]="form_disabled">Finish</button>
          </ng-template>
        </ngb-panel>

      </ngb-accordion>
    </form>
</div>


<ng-template #updateDataModal let-c="close" let-d="dismiss">
  <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title" i18n="@@dashboard.wizard.modal.update_data.title">Update personal data</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
  </div>
  <div class="modal-body">
      <p i18n="@@dashboard.wizard.modal.update_data.message">Are you sure you want to send a request to update personal data?</p>
      <p i18n="@@dashboard.wizard.modal.update_data.data_to_update">Data to be updated:</p>
      <ul>
         <li *ngFor="let field of data_to_update">{{field.label}}: <b>{{field.value}}</b></li>
      </ul>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-secondary" (click)="d('cancel click')" i18n="@@dashboard.wizard.modal.update_data.cancel">Cancel</button>
    <button type="button" class="btn btn-primary" (click)="c('ok')" i18n="@@dashboard.wizard.modal.update_data.send">Send</button>
  </div>
</ng-template>