
<nav class="navbar navbar-expand-lg my-header" *ngIf="initialized">
  <a class="navbar-brand"  [routerLink]="[homelink?'/dashboard':'/']"  [innerHTML]="brand"></a>
  <button class="navbar-toggler" (click)="isMenuCollapsed = !isMenuCollapsed" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent" [ngbCollapse]="isMenuCollapsed">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item" *ngIf="homelink">
        <a class="nav-link" href="{{homelink}}" i18n="@@navbar.items.home">Home</a>
      </li>
      <li class="nav-item" *ngIf="!homelink">
        <a class="nav-link pointer" [routerLink]="['/']" i18n="@@navbar.items.home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer"  [routerLink]="['/documents']" href="#"  i18n="@@navbar.items.documents">Documents</a>
      </li>
      <li class="nav-item">
        <a class="nav-link pointer" *ngIf="!creditApi.User && !location.isCurrentPathEqualTo('/login')" href="#" [routerLink]="['/login']" i18n="@@navbar.items.login">Login</a>
      </li>
      <li class="nav-item">
        <a class="pointer nav-link" *ngIf="!creditApi.User && location.isCurrentPathEqualTo('/login')"  [routerLink]="['/register']" i18n="@@navbar.items.signup">Register</a>
      </li>
      <li class="nav-item dropdown" *ngIf="creditApi.User">
        <div ngbDropdown class="d-inline-block">
          <a class="nav-link dropdown-toggle pointer" (click)="null"  id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" ngbDropdownToggle i18n="@@navbar.items.account">
            My Account
          </a>
          <div ngbDropdownMenu class="dropdown-menu bg-light bg-gradient-light" aria-labelledby="navbarDropdown">
            <a class="pointer dropdown-item bg-transparent" href="#" [routerLink]="['/dashboard']" i18n="@@navbar.items.dashboard">Dashboard</a>
            <!--<a class="dropdown-item" href="#" i18n="@@navbar.items.change_password">Change  password</a>-->
            <div class="dropdown-divider"></div>
            <a class="pointer dropdown-item" href="#" (click)="logout()" i18n="@@navbar.items.logout">Logout</a>
         </div>
        </div>
      </li>
    </ul>
  </div>
</nav>
<main role="main" class="flex-shrink-0" *ngIf="initialized">
<router-outlet ></router-outlet>
</main>
<app-app-toasts aria-live="polite" aria-atomic="true"></app-app-toasts>
<footer class="footer mt-auto py-3 my-footer " *ngIf="initialized">
  <div class="container">
    <div *ngIf="organization">{{organization}}, <span i18n="@@footer.company_id" *ngIf="organization_id">Reg # </span> {{organization_id}} <br></div>
    <div *ngIf="lender"> <span *ngIf="!cso_by_lender" i18n="@@footer.loan_orinated_by">Loan originated by </span> <span *ngIf="!cso_by_lender"> {{lender}} ,</span> <span i18n="@@footer.company_id" *ngIf="lender_id && !cso_by_lender">Reg # </span> <span *ngIf="!cso_by_lender">{{lender_id}} <br></span>
    {{license}} <br></div>
    <span class="clickable" [routerLink]="['document','privacy_policy']" i18n="@@footer.docs.privacy_policy">Privacy policy</span> <br>
    <span class="clickable" [routerLink]="['document','important_information']" i18n="@@footer.important_information">Important information</span> 
    <div class="pt-2">
      <div class="text-center" style="font-size: 0.7em;"><span >Сайт создан на платформе </span> <a href="https://creditapi.ru" target="_blank">КредитАПИ</a></div>
    </div>
  </div>
</footer>