<form (ngSubmit)="doLogin()" [formGroup]="form" class="form-signin bg-light bg-gradient-light mt-5 pt-3 mb-4">
    <div class="text-center mb-4">
      <h1 class="h3 mb-3 font-weight-normal" i18n="@@login.title">Please, Log In</h1>
      <p i18n="@@login.subtitle">You can use your phone number or email</p>
    </div>
  
    <div class="form-label-group">
      <input type="text" id="inputUsername" class="form-control" placeholder="Phone or Email" formControlName="username"  i18n-placeholder="@@login.phone_or_email" required autofocus>
      <label for="inputUsername" i18n="@@login.phone_or_email">Phone or Email</label>
    </div>
  
    <div class="form-label-group">
      <input type="password" id="inputPassword" class="form-control" formControlName="password"  i18n-placeholder="@@login.password"  placeholder="Password" required>
      <label for="inputPassword" i18n="@@login.password">Password</label>
    </div>
  
    <div class="checkbox mb-3">
      <span class="btn btn-link" i18n="@@login.forgot" (click)="modalService.open(modal_forgot)">Forgot password?</span>
      <span class="btn btn-link float-right" [routerLink]="['/register']" i18n="@@login.register">Register</span>
    </div>
    <button class="btn btn-lg btn-primary btn-block"  type="submit" [disabled]="!form.valid">
      <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true" *ngIf="loading"></span>
      <span i18n="@@login.buttons.signin"> Sign in</span>
    </button>
  </form>

  <ng-template #modal_forgot let-c="close" let-d="dismiss">
    <div class="modal-header">
      <h4 class="modal-title" i18n="@@login.modal_forgot.title">Forgot your password?</h4>
      <button type="button" class="close" aria-label="Close" (click)="d('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
        <p><span i18n="@@login.modal_forgot.title.message">Enter your email and we'll send you a link for reset</span></p>
        <div class="form-label-group" >
            <input type="email" 
                    class="form-control" 
                    placeholder="Email" 
                    i18n-placeholder="@@login.modal_forgot.email"
                    #email>  
            <label for="email" i18n="@@login.modal_forgot.email">Email</label>
        </div>
    </div>
    <div class="modal-footer">
      <button type="button" ngbAutofocus class="btn btn-outline-secondary" (click)="d('Cancel')" i18n="@@cancel">Cancel</button>
      <button type="button"  class="btn btn-primary" (click)="resetPassword(email.value);"  i18n="@@login.modal_forgot.reset_password">Reset password</button>
    </div>
</ng-template>