@import "~bootstrap/scss/bootstrap"; 

.card-title::-webkit-scrollbar,
.table-container::-webkit-scrollbar {
  display:none;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0,0,0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E") !important;
}
.nav-item{
  text-align: right;
}

.my-header {
  min-height:60px;
}
input.ng-invalid.ng-touched {
  @extend .is-invalid; 
}
input.ng-valid.ng-touched {
  @extend .is-valid; 
}
  .navbar-brand img {
    max-width:150px;
    max-height:80px;
  }

  .navbar  .nav-link:active, 
  .navbar .nav-link:focus{
    outline: none;
  }

  .calculator-input {
    max-width: 7em;
  }
  .calculator-input.ng-invalid,
  .calculator-input.ng-valid{
    background-image: none !important;
    padding-right:0 !important;
  }



  .form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
  }
  .file-control img.preview {
    max-width: 100%;
    border-top-right-radius: 0.25rem;
    border-top-left-radius: 0.25rem;
    border-top: 1px solid #ced4da;
    border-left: 1px solid #ced4da;
    border-right: 1px solid #ced4da;
  }
  .file-control img.preview.dragover,
  .candropfile.dragover  {
    border-color: #b4c167 !important;
    cursor: copy !important;
  }

  .file-control .custom-file-label {
    //border-top: none;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    overflow-x:scroll;
  }
  
  .file-control .custom-file-label::after {
    border-top-right-radius: 0;
  }
  .file-control-overlay {
    position: absolute;
    top: 0;
    padding-right: 5rem;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 36px);
    background: rgba(255, 255, 255, 0.7);
    box-sizing: border-box;
    margin-left: 15px;
    margin-top: 12px;
    border-radius: 4px;
  }
  .file-control .loading-indicator {
    margin-top: 40%;
    margin-left: 70%;
  }

  .form-select-group label{
    font-size: 12px;
    color: #777;
    line-height: 0.35;
    display: block;
    margin-left: 0.5rem;
  }
  
  .file-control .file-label {
    font-size: 12px;
    color: #777;
    display: block;
    margin-left: 0.5rem;
  }

  .form-label-group {
    position: relative;
    margin-bottom: 1rem;
  }
  
  .form-label-group > input,
  .form-label-group > label {
    height: 3.125rem;
    padding: .75rem;
  }
  
  .form-label-group > label {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    margin-bottom: 0; /* Override default `<label>` margin */
    line-height: 1.5;
    color: #495057;
    pointer-events: none;
    cursor: text; /* Match the input under the label */
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: all .1s ease-in-out;
  }
  
  .form-label-group input::-webkit-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input:-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-ms-input-placeholder {
    color: transparent;
  }
  
  .form-label-group input::-moz-placeholder {
    color: transparent;
  }
  
  .form-label-group input::placeholder {
    color: transparent;
  }
  
  .form-label-group input:not(:placeholder-shown){
    padding-top: 1.25rem;
    padding-bottom: .25rem;
  }
  
  .form-label-group input:not(:placeholder-shown) ~ label{
    padding-top: .25rem;
    padding-bottom: .25rem;
    font-size: 12px;
    color: #777;
  }

  .bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

  .calendar,.calendar:active {
    width:2.75rem;
    background-image:url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACIAAAAcCAYAAAAEN20fAAAABHNCSVQICAgIfAhkiAAAAAlwSFlzAAAOxAAADsQBlSsOGwAAABl0RVh0U29mdHdhcmUAd3d3Lmlua3NjYXBlLm9yZ5vuPBoAAAEUSURBVEiJ7ZQxToVAEIY/YCHGxN6XGOIpnpaEsBSeQC9ArZbm9TZ6ADyBNzAhQGGl8Riv4BLAWAgmkpBYkH1b8FWT2WK/zJ8ZJ4qiI6XUI3ANnGKWBnht2/ZBDRK3hgVGNsCd7/ui+JkEIrKtqurLpEWaphd933+IyI3LEIdpCYCiKD6HcuOa/nwOa0ScJEnk0BJg0UTUWJRl6RxCYEzEmomsIlPU3IPW+grIAbquy+q6fluy/28RIBeRMwDXdXMgXLj/B2uimRXpui4D9sBeRLKl+1N+L+t6RwbWrZliTTTr1oxYtzVWiTQAcRxvTX+eJMnlUDaO1vpZRO5NS0x48sIwfPc87xg4B04MCzQi8hIEwe4bl1DnFMCN2zsAAAAASUVORK5CYII=")!important;
    background-repeat:no-repeat;
    background-size:23px;
    background-position:50%;
    border-top-right-radius: 0.25rem !important;
    border-bottom-right-radius: 0.25rem !important;
  }
  input[type='checkbox']{
    margin-right: 0.5rem;
  }
  
  


  .clickable,
  .pointer{
    cursor:pointer;
  }
  .clickable:hover {
    border-bottom: 1px dashed;
  }

  .document-content{
    white-space:pre;
    border:1px solid #ccc;
    padding: 1em;
    margin: 1em;
  }

  .prompt-value{
    position: absolute;
    z-index: 100000;
    background: #fff;
    color: #000;
    padding:0.5em 0;
    margin-right: 1rem;
    display:none;
    margin-top: -1rem;
    border-radius: 0.3rem;
    line-height: 1.8;
    list-style: none;
    width:100%;
  }
  .prompt-value li {
    border-bottom: 1px solid #ccc;
    padding: 0 0.5em;
  }
  .prompt-value .available:hover {
    background:var(--secondary);
    cursor:pointer;
  }
  .prompt-value .unavailable{
    color:#afafaf;
  }
  
  .prompt-value li span {
    font-size: 0.7em;
    color:  var(--secondary);
  }

  .calculated_values {
    overflow: hidden;
    white-space: nowrap;
    font-size: .875rem;
  }
  .calculated_values .payments_count {
    font-size: .7rem;
  }

  .range_label {
    text-transform: uppercase;
  }
  .range_label_description {
    font-size: .875rem;
  }
  .message-history-container{
    min-height:200px;
    max-height:300px;
    overflow-y:scroll;
    border: 1px solid;
    border-radius: 5px; 
    background-color: $input-bg;
    border: $input-border-width solid $input-border-color;
    margin-top: 10px;
    margin-bottom:15px;
    overflow-x: hidden;
    font-size:0.9em;
  }
  .message-history-container .message,
  .message-history-container .message-incoming {
    border: 1px solid;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    max-width: 90%;
    display: inline-block;
    position: relative;
  }
  .message-history-container .message h5,
  .message-history-container .message-incoming h5
  {
    margin:0;
    font-size: 1.1em;
  }
  .message-history-container .message {
    background-color: var(--light);
    border-color: $input-border-color;
  }
  .message-history-container .message-incoming{
      background-color: $input-bg;
      border-color: $input-border-color;
  }
  .message-history-container .message {
      float:right;
  }
  .message-history-container .message-incoming {
    float:left;
  }
  
  .message-history-container .message:after,
  .message-history-container .message:before {
      content: '';
      display: block;
      position: absolute;
      left: 100%;
      width: 0;
      height: 0;
      border-style: solid;
  }
  .message-history-container .message:after {
      top: 10px;
      border-color: transparent transparent transparent var(--light);
      border-width: 10px;
  }
  
  .message-history-container .message:before {
      top: 9px;
      border-color: transparent transparent transparent $input-border-color;
      border-width: 11px;
  }
  
  
  .message-history-container .message-incoming:after,
  .message-history-container .message-incoming:before {
      content: '';
      display: block;
      position: absolute;
      width: 0;
      height: 0;
      border-style: solid;
  }
  .message-history-container .message-incoming:after {
      top: 10px;
      left: -20px;
      border-color: transparent  $input-bg transparent transparent;
      border-width: 10px;
  }
  .message-history-container .message-incoming:before {
    left: -22px;
      top: 9px;
      border-color: transparent $input-border-color transparent transparent;
      border-width: 11px;
  }
  
  
  .message-history-container .clear{
    clear:both;
  }
  .message-history-container small {
      display: block;
      float: right; 
      font-size: 0.7em;
      color:#949494;
      position:relative
  }
  .message-history-container .message-incoming .status {
    display:none;
  }
  .message-history-container .status.readed {
    color:#b900ff;
  }
  
  .message-history-container .attachment{
      font-size: 0.7em;
      color: #268440;
      font-style: italic;
      float: right;
      width:100%;
      text-align: right;
  }
  .message-history-form-label {
      font-size: 0.8em;
      font-weight: normal !important;
      color: #7f4a4a;
      margin-bottom: 0;
  }
  .message-history-container .message-error{
    float: right;
      margin-top: -1em;
      margin-right: 1em;
      font-size: 0.8em;
      color: #8c8a8a;
  }
  .message-history-container .message-error span{
    color: #0078ff;
      cursor: pointer;
  }
  
  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }
  
  /* Fallback for Edge
  -------------------------------------------------- */
  @supports (-ms-ime-align: auto) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input::-ms-input-placeholder {
      color: #777;
    }
  }
  
  /* Fallback for IE
  -------------------------------------------------- */
  @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .form-label-group > label {
      display: none;
    }
    .form-label-group input:-ms-input-placeholder {
      color: #777;
    }
  }

.my-dashboard-container {
  margin-top:100px;
}

.my-container {
  padding:30px 30px 65px 65px;
  border-radius: 10px;
}
.mt-50px {
  margin-top:50px;
}
.mt-100px {
  margin-top:100px;
}
.pt-100px {
  padding-top:100px;
}
.pb-100px {
  padding-bottom:100px;
}
.mainpage {
  background-size:cover !important;
}

.my-wizard .card {
  background:none;
  border:none;
}
.my-wizard .card .card-header{
  background:none;
}
.w-100 .slider.slider-horizontal {
  width:100%;
}

.icon-check {
  display: inline-block;
  width: 8px;
  height: 8px;
  background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%23949494' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.icon-check.readed{
  background:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8' viewBox='0 0 8 8'%3e%3cpath fill='%230000cc' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
}
.fileinput input {
  display:none;
}
.message-attachments{
  list-style: none;
  font-size: 0.8em;
  color: var(--secondary);
  float: right;
}
.message-attachments .spinner-border {
  width: 0.8rem;
  height: 0.8rem;
  font-size: 0.5em;
}
.black-bordered-table{
  border-collapse: collapse;
}
.black-bordered-table,
.black-bordered-table td,
.black-bordered-table th {
  border:1px solid black;
}
.black-bordered-table td,
.black-bordered-table th {
  padding:0.3em;
}
.table-4cols td{
  width:25%;
}


.qr-code {
  width: 10vw; 
  min-width: 6rem;
  float:left;
}
.psk-info {
  border:2px solid black;
  height: 17vw;
  width: 17vw;
  min-width: 15rem;
  min-height: 15rem;
  margin-left:0.4em;
}
.psk-info .bignum {
  display:inline-block;
}
.psk-info .bignum span{
  font-size:2.3em;
}
.psk-info .number_text {
  margin-top: 1em;
  text-transform: uppercase;
}