<div class="container-fluid pt-5 mb-4 ">
    <div class="row">
        <div class="col-md-3">
            <div class="card">
                <div class="card-body bg-light bg-gradient-light">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item text-left bg-transparent" *ngFor="let document of documents"><span class="btn btn-link" [routerLink]="['/document',document.name]">{{document.title}}</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-md-9">
            <div class="card ">
                <div class="card-body bg-light bg-gradient-light">
                    <div *ngIf="content">
                        <!--<h5>{{document?.title}}</h5>-->
                        <div *ngIf=" document && type=='google.docs'"  class="text-right mr-3"> <a href="https://drive.google.com/file/d/{{content}}/preview" target="_blank">Версия для скачивания</a></div>
                        <div class="document-content">
                            <div *ngIf="document && type=='html'" class="html-doc" [innerHtml]="content"></div>
                            <iframe *ngIf=" document && type=='google.docs'"  frameborder="0" [src]="('https://drive.google.com/file/d/'+content+'/preview') | safe"  style="width: 100%; height: 700px;">
                                    Невозможно отобразить документ онлайн. Вы можете скачать его по ссылке ниже
                            </iframe>
                        </div>
                    </div>
                    <div *ngIf="!content && !loading">
                        <p i18n="@@documents.choose_document">Please, choose the document</p>
                    </div>
                    <div *ngIf="loading">
                        <div class="spinner-border" role="status">
                            <span class="sr-only">Loading...</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>