<div class="card mb-3">
    <div class="card-body bg-light bg-gradient-light">
        <p class="title mb-0">{{creditApi.User?.last_name}} {{creditApi.User?.first_name}}</p>
        <span class="text-secondary">{{creditApi.User?.email}}</span>
        <ul class="list-group list-group-flush mt-5">
            <li class="list-group-item bg-transparent" ><span class="clickable" [routerLink]="['/dashboard/myloans']" i18n="@@dashboard.side_menu.my_loans">My loans</span></li>
            <li class="list-group-item bg-transparent" *ngIf="show_messages=='always'||(show_messages=='if_unreaded' && (creditApi.last_message_unreaded))"><span class="clickable" [routerLink]="['/dashboard/mymessages']" i18n="@@dashboard.side_menu.my_messages">My messages</span> <span *ngIf="creditApi.last_message_unreaded" class="badge badge-secondary ml-1">1</span></li>
            <li class="list-group-item bg-transparent"><span class="clickable" [routerLink]="['/dashboard/changepassword']" i18n="@@dashboard.side_menu.change_password">Change password</span></li>
            <li class="list-group-item bg-transparent text-left" ><span class="clickable"  (click)="logout()" i18n="@@dashboard.side_menu.logout">Logout</span></li>
        </ul>
    </div>
</div>

<div class="card ">
    <div class="card-body bg-light bg-gradient-light">
        <p i18n="@@dashboard.side_menu.linked_payment_accounts.title">Linked payment accounts</p>
        <ul class="list-group list-group-flush bg-transparent">
            <li *ngFor="let payment_account of creditApi.payment_accounts; let i=index" class="list-group-item bg-transparent" >
                <span class="clickable" [routerLink]="['/dashboard/paymentaccount',i]">{{payment_account.number}}</span>
            </li>
            <li class="list-group-item bg-transparent">
                <span class="clickable"  [routerLink]="['/dashboard/paymentaccount/new']"i18n="@@dashboard.side_menu.linked_payment_accounts.new">+ Add new payment account</span>
            </li>
        </ul>
    </div>
</div>
